.fetures{
    padding-top:0;
    width:100%;
    min-height:610px;
    background:#fafcfc url("../img/fetures-img.png") no-repeat center 270px;

    &-block{
        display: flex;
        justify-content:space-between;
        align-items: center;

        &__content{
            margin-top:50px;
            &:not(:last-child){
                margin-left:50px;
            }
            &:last-child{
                margin-right:50px;
            }
        }
        &__image{
            margin-bottom:-25px;
            
        }
        &__item:first-child{
            margin-bottom: 60px;
        }
        &__title{
            padding-right:15px;
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size:16px;
            height: 35px;
            text-transform: uppercase;
            color:#333740;
            text-align:right;
            border-right:5px solid #18a3dd;
            &-left{
                padding-left:15px;
                text-align:left; 
                border-right:none;
                border-left:5px solid #18a3dd;
            }
        }
        &__text::first-letter{
            padding-left:9px;
        }
    }
}
   

@media(max-width:991px){
    .fetures{
        background-size:auto;
        min-height:560px;
        &-block{
            &__content{
                &:not(:last-child){
                    margin-left:0px;
                }
                &:last-child{
                    margin-right:0px;
                }
            }
            &__title{
                font-size:14px;
                height: 35px;
            }
        }
    }
}
@media(max-width:768px){
    .fetures{
        background-size:20%;
        background-position: bottom center;
    }
}

@media(max-width:601px){
    .fetures{
        background-image: none;
        &-block{
            flex-direction: column;
            

        }
    }
}