.hero {
    padding-top:100px;
    background-color: #fafcfc;

    &-block {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 20px;
        background: url("../img/hero_bg.png") no-repeat right 180px;
        min-height: 737px;

        &__name {
            position: relative;
            padding-left: 25px;

            &::after {
                content: "";
                position: absolute;
                top: -5px;
                left: 0;
                width: 5px;
                height: 90px;
                background-color: #18a3dd;
                border-radius: 4px;
            }
        }

        &__title {
            color: #333740;
            font-family: "Raleway";
            font-size: 72px;
            font-weight: 900;
            line-height: 35px;
            text-transform: uppercase;
            margin: 0;
        }

        &__subtitle {
            color: #333740;
            font-family: "Raleway";
            font-size: 24px;
            font-weight: 800;
            line-height: 24px;
            letter-spacing: 0.6px;
            margin: 0;
            margin-top: 30px;
        }

        &__text {
            margin-top: 45px;
            color: #666666;
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.4px;
        }

        &__content {
            margin-top: 300px;
        }

        &__btn {
            
            margin-top:0;

            &-video {
                text-decoration: none;
                width: 175px;
                color: #333740;
                font-family: Lato;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.4px;
                align-self: center;
                padding:0 5px;
                margin-left:20px;
            }
        }

        &-links {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top:40px;
            
        }
    }
}
@media(max-width:1199px)
{
    .hero{
        &-block {
            padding: 0px 10px;
            background-size: 60%;
        }
    }
}

@media(max-width:991px){
    .hero{
        &-block {
            background-size: 50%;
            background-position: right 240px;
            &__text {
                font-size: 15px;
            }
        }
    }
}
@media(max-width:768px){
    .hero{
    &-block {
        background-size: 28%;
        background-position: right 280px;
        
        &__title {
            font-size: 65px;
        }

        &__subtitle {
            font-size: 20px;
        }

    }
}
}
@media(max-width:605px){
    .hero{
        &-block {
            background-size: 23%;
            background-position: right 280px;
            
            &__title {
                font-size: 55px;
            }
    
            &__subtitle {
                font-size: 18px;
            }
            &__text {
                font-size: 14px;
            }
            &__btn {
    
                &-video {
                    width: auto;
                    
                    }
                }
        }
    }
}
@media(max-width:435px){
    .hero{
        &-block {
            min-height: 537px;
            background:none;
            &__content {
                margin-top: 150px;
            }
            &__title {
                font-size: 48px;
            }
    
            &__subtitle {
                font-size: 16px;
                margin-top: 15px;
            }
            &__text {
                font-size: 13.5px;
                margin-top: 25px;
            }
            
            &-links{
                flex-direction: column;
                padding:10px 0;
                margin-top:20px;
          
            }
            &__btn {
                
    
                &-video {
                    margin-top:15px;
                    margin-left:0;
                    font-size:14px;
                }
            }
        }
    }
}